@model IEnumerable<Restaurant_Information_MVC.Models.GoodsViewModel>
@{
    ViewBag.Title = "ShowCost";
}
<style>
    #browse {
        order: 1px solid #ccc;
        padding: 4px;
        border-radius: 4px;
        background-color: #2c9a8a;
        color: #fff;
    }
</style>
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/layui/css/layui.css" rel="stylesheet" />

<script src="~/layui-v2.4.5/layui/layui.all.js"></script>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<script src="~/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="~/assets/css/amazeui.min.css" />
<link rel="stylesheet" href="~/assets/css/admin.css">
<link rel="stylesheet" href="~/assets/css/app.css">

<input type="hidden" id="pCount" value="@ViewBag.pCount" />
<input type="hidden" id="pSize" value="@ViewBag.pSize" />
<input type="hidden" id="pIndex" value="@ViewBag.pIndex" />
<div class="layui-col-md9" style="margin-left:0px;margin-top:60px">
    @using (@Html.BeginForm("ExcelTolead", "Finance", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <!-- 真正的文件上传表单 -->
        <input name="file" type="file" id="thisfile" style="display: none" />

        <div class="input-append">
            <!-- 用于展示上传文件名的表单 -->
            <input id="showname" class="input-large" type="text" style="height:25px;">
            <!-- 点击触发按钮 -->
            <a class="btn" onclick="makeThisfile()" id="browse">浏览</a>
            <input class="layui-btn layui-btn-normal" type="submit" name="Upload" value="导入" style="margin-left:50px" />
            <input class="layui-btn layui-btn-warm" id="Button1" type="button" value="导出" onclick="derive()" />
        </div>

    }

    <div class="container" id="tb" style="width:1400px;height:580px;margin:0 auto;background-color:#f2f2f2;clear:both;position:absolute">
        @foreach (var item in Model)
        {
            <div name="tr1" class="am-u-sm-12 am-u-md-6 am-u-lg-4" style="margin-top:20px">
                <a href="javascript:;" class="tpl-table-images-content-i">
                    <div class="tpl-table-images-content-i-info">
                        <span class="ico">
                            <img src="@item.MenuPhoto" alt="">
                            @item.GoodsName
                        </span>
                    </div>
                    <span class="tpl-table-images-content-i-shadow"></span>
                    <img src="@item.MenuPhoto" style="width:432px;height:203px;" alt="">
                </a>
                <div class="tpl-table-images-content-block">
                    <div class="tpl-i-font">
                        出售价格:
                        @item.SellingPrice 元
                        <br />
                        成本价格: @item.CostPrice 元
                        <br />
                        纯利润:@item.GoodsProfit 元
                        <br />
                        销售数量:@item.GoodsNum
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="test1" style="margin-left:300px;position:absolute;top:700px"></div>
</div>
<script type="text/javascript">
    //触发隐藏的file表单
    function makeThisfile() {
        $('#thisfile').click();
    }

    //file表单选中文件时,让file表单的val展示到showname这个展示框
    $('#thisfile').change(function () {
        $('#showname').val($(this).val())
    })
</script>

<script>
    function derive() {
        location.href = '/Finance/ExcelDerive';
    }
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            , count: Number($("#pCount").val()) //数据总数，从服务端得到
            , limit: Number($("#pSize").val()) //每页显示条数
            , prev: "上一页"
            , next: "下一页"
            , hash: "?pageIndex"
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , refresh: [2, 4, 6, 8, 10]
            , jump: function (obj, first) {
                if (!first) {
                    //alert('第 ' + obj.curr + ' 页');
                    //location.href = "/Reception/ShowOrder?pageIndex=" + obj.curr

                    $.ajax({
                        url: "/Finance/Statement?pageIndex=" + obj.curr,
                        dataType: "json",
                        success: function (data) {
                            var tbody = '';
                            for (var i in data) {
                                tbody += '<div name="tr1" class="am-u-sm-12 am-u-md-6 am-u-lg-4" style="margin-top:20px">'
                                    + '<a href="javascript:;" class="tpl-table-images-content-i">'
                                    + '  <div class="tpl-table-images-content-i-info">'
                                    + '    <span class="ico">'
                                    + '      <img src="' + data[i].MenuPhoto + '" alt="">'
                                    + data[i].GoodsName
                                    + '</span>'
                                    + '</div>'
                                    + '<span class="tpl-table-images-content-i-shadow"></span>'
                                    + '<img src="' + data[i].MenuPhoto + '" style="width:432px;height:203px;" alt="">'
                                    + '</a>'
                                    + '<div class="tpl-table-images-content-block">'
                                    + ' <div class="tpl-i-font">'
                                    + '出售价格:'
                                    + data[i].SellingPrice + '元'
                                    + '<br />'
                                    + ' 成本价格:' + data[i].CostPrice + ' 元'
                                    + '<br />'
                                    + ' 纯利润:' + data[i].GoodsProfit + ' 元'
                                    + ' <br />'
                                    + ' 销售数量:' + data[i].GoodsNum
                                    + '</div>'
                                    + '</div>'
                                    + '</div>';
                            }
                            $("[name=tr1]").remove();
                            $("#tb").append(tbody);
                        }
                    })
                }

            }
        });
    });
</script>