@model IList<Restaurant_Information_MVC.Models.GoodsViewModel>
@{
    ViewBag.Title = "ShowCost";
}
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />

<h2>成本查询</h2>


<div class="layui-col-md9" style="margin-left:200px;margin-top:60px">
    @using (@Html.BeginForm("ExcelTolead","Finance", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <text>选择上传Excel文件：</text>
        <input name="file" type="file" id="file" />
        <input type="submit" name="Upload" value="导入" />
    }
        <input id="Button1" type="button" value="导出" onclick="derive()" />
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>商品编号</th>
                    <th>菜式名称</th>
                    <th>菜式售价</th>
                    <th>菜式成本价</th>
                    <th>纯利润</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.GoodsId.ToString().PadLeft(4, '0')</td>
                        <td>@item.GoodsName</td>
                        <td>@item.SellingPrice</td>
                        <td>@item.CostPrice</td>
                        <td>@item.GoodsProfit</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

<script>
    function derive() {
        location.href = '/Finance/ExcelDerive';
    }
</script>