@model IEnumerable<Restaurant_Information_MVC.Models.BillViewModel>
@{
    ViewBag.Title = "ShowBill";
}
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<h2>账目管理</h2>
@using (Html.BeginForm())
{
    <div style="margin-left:300px;">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input" name="begin" id="test1" type="text" placeholder="开始时间">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input" name="end" id="test2" type="text" placeholder="结束时间">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
                <input name="name" class="layui-input" placeholder="请输入客户名称" type="text">
            </div>
        </div>
        <input id="Button1" type="submit" class="layui-btn layui-btn-normal" value="查询" />
    </div>
}
<input type="hidden" id="pCount" value="@ViewBag.pCount" />
<input type="hidden" id="pSize" value="@ViewBag.pSize" />
<input type="hidden" id="pIndex" value="@ViewBag.pIndex" />
<table class="layui-table" id="table">
    <tr>
        <th>账单号</th>
        <th>支付时间</th>
        <th>客户名称</th>
        <th>支付方式</th>
        <th>金额</th>
        <th>收款账户</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr  Name="tr1">
            <td>@item.BillID.ToString().PadLeft(4, '0')</td>
            <td>@item.PaymentTime</td>
            <td>@item.UserName</td>
            <td>@item.PaymentWay</td>
            <td>@item.BillMoney</td>
            <td>@item.BillAccount</td>
        </tr>
    }
</table>
<div id="test3" style="margin-left:500px"></div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test1'
        });
        laydate.render({
            elem: '#test2'
        });
    })
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'test3' //注意，这里的 test1 是 ID，不用加 # 号
            , count: Number($("#pCount").val()) //数据总数，从服务端得到
            , limit: Number($("#pSize").val()) //每页显示条数
            , prev: "上一页"
            , next: "下一页"
            , hash: "?pageIndex"
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , refresh: [2, 4, 6, 8, 10]
            , jump: function (obj, first) {
                if (!first) {
                    //alert('第 ' + obj.curr + ' 页');
                    //location.href = "/Reception/ShowOrder?pageIndex=" + obj.curr

                    $.ajax({
                        url: "/Finance/Bill?pageIndex=" + obj.curr,
                        dataType: "json",
                        success: function (data) {
                            var tbody = '';
                            for (var i in data) {
                                tbody += ' <tbody Name="tr1">'
                                    + ' <tr>'
                                    + '<td>' + data[i].BillID + '</td> '
                                    + '<td>' + data[i].PaymentTime + '</td>'
                                    + '<td>' + data[i].UserName + '</td>'
                                    + '<td>' + data[i].PaymentWay + '</td>'
                                    + '<td>' + data[i].BillMoney + '</td>'
                                    + '<td>' + data[i].BillAccount + '</td>'
                                    + '</tr>'
                                    + '</tbody>';
                            }
                            $("[name=tr1]").remove();
                            $("#table").append(tbody);
                        }
                    })
                }

            }
        });
    });
</script>
