@model IList<Restaurant_Information_MVC.Models.BillViewModel>
@{
    ViewBag.Title = "ShowBill";
}
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<h2>账目管理</h2>
@using (Html.BeginForm())
{
<div style="margin-left:300px;">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input class="layui-input" name="begin" id="test1" type="text" placeholder="开始时间">
        </div>
    </div>

    <div class="layui-inline">
        <div class="layui-input-inline">
            <input class="layui-input" name="end" id="test2" type="text" placeholder="结束时间">
        </div>
    </div>

    <div class="layui-inline">
        <div class="layui-input-inline">
            <input name="name" class="layui-input" placeholder="请输入客户名称" type="text">
        </div>
    </div>
    <input id="Button1" type="submit" class="layui-btn layui-btn-normal" value="查询" />

</div>
}

<table class="layui-table">
    <tr>
        <th>账单号</th>
        <th>支付时间</th>
        <th>客户名称</th>
        <th>支付方式</th>
        <th>金额</th>
        <th>收款账户</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BillID.ToString().PadLeft(4, '0')</td>
            <td>@item.PaymentTime</td>
            <td>@item.UserName</td>
            <td>@item.PaymentWay</td>
            <td>@item.BillMoney</td>
            <td>@item.BillAccount</td>
        </tr>
    }
</table>

<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test1'
        });
        laydate.render({
            elem: '#test2'
        });
    })

</script>
