@model IList<Restaurant_Information_MVC.Models.GoodsViewModel>
@{
    ViewBag.Title = "ShowCost";
}
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<h2>成本查询</h2>

@using (Html.BeginForm())
{
    <input id="Text1" type="text" placeholder="请输入菜式名称" style="width:240px;height:37px;float:left;margin-left:500px"  name="name"/>
    <input id="Submit1" type="submit" class="layui-btn layui-btn-normal" value="查询" />
}
<table class="layui-table">
    <tr>
        <th>商品编号</th>
        <th>菜式名称</th>
        <th>菜式售价</th>
        <th>菜式成本价</th>
        <th>纯利润</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GoodsId.ToString().PadLeft(4,'0')</td>
            <td>@item.GoodsName</td>
            <td>@item.SellingPrice</td>
            <td>@item.CostPrice</td>
            <td>@item.GoodsProfit</td>
        </tr>
    }
</table>