@model Restaurant_Information_MVC.Models.KitchenViewModel

@{
    ViewBag.Title = "AddMenu";
}

<h2>AddMenu</h2>
<script src="~/Scripts/layui.js"></script>
<script src="~/Scripts/layui.all.js"></script>
<script src="~/Scripts/jquery.form.js"></script>

@using (Html.BeginForm("AddMenu", "Kitchen", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>KitchenViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MenuID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入菜单号" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入菜式名" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="File1" type="file"  name="img"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuIntroduce, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MenuIntroduce, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MenuIntroduce, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuIngredients, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MenuIngredients, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MenuIngredients, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuCuisine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Select1" name="MenuCuisine">
                    <option>鲁菜</option>
                    <option>川菜</option>
                    <option>苏菜</option>
                    <option>粤菜</option>
                    <option>浙菜</option>
                    <option>闽菜</option>
                    <option>徽菜</option>
                    <option>湘菜</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuKind, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Select1" name="MenuKind">
                    <option>牛肉类</option>
                    <option>猪肉类</option>
                    <option>海鲜类</option>
                    <option>家禽</option>
                    <option>菌类</option>
                    <option>蔬菜类</option>
                    <option>豆制品</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesVolume, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesVolume, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalesVolume, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ShowMenu")
</div>






