@model List<Restaurant_Information_MVC.Models.CtableViewModel>
  @using Restaurant_Information_MVC.Controllers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>请选座</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    
</head>
<body>
    <h1 style="text-align:center">欢迎光临东华餐饮</h1>
    <h2 style="text-align:center;color:red">请选座</h2>
    <div style="margin:0 auto;width:100%;height:100%">
        @foreach (var item in Model)
        {
            if (item.TableState == 0)
            {
        <div style="width:100px;height:100px; background-color:#808080;border:solid 1px;margin-left:30%;text-align:center" value="@item.TableID" id="bbai" class="layui-btn layui-btn-normal">
            <input type="checkbox" name="xuan" id="wei" style="padding-right:10px;" value="@item.TableID"/>
            <br />
            <label>
                @item.TableID
            </label>
            
            <label>
               (@item.TableStyle)
            </label>
        </div>
            }
            else
            {
        <div style="width:100px;height:100px; background-color:red;border:solid 1px;margin-left:30%;text-align:center" value="@item.TableID" id="bred" class="layui-btn layui-btn-danger">
            <input type="checkbox" name="xuan" disabled="disabled" />
            <br />
            <label>
                @item.TableID
            </label>
            
            <label>
                (@item.TableStyle)
            </label>


        </div>
            }
        }

    </div>
    
    <div style="width:100%">
        <button style="margin-left:50%" class="layui-btn layui-btn-normal" onclick="Que()">确定</button>
    </div>

</body>
</html>
<script>
    var arr = [];
    var str = ""
    layui.use('layer', function () {
        var layer = layui.layer;
       
        
    })
    function Que() {
        $("[name=xuan]:checked").each(function () {
            arr.push(this.value);
        })
        if (arr.length == 0) {
            layer.alert("请先选座");
            return;
        }
        var str1 = "";
        str += arr + ',';
        str1 = str.split(str.length - 1);
        layer.alert("您选了" + str + "桌");
        location.reload();
    }
</script>
