@model IEnumerable<Restaurant_Information_MVC.Models.KitchenViewModel>
@{

    ViewBag.Title = "ShowMenu";
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.4.5/layui/layui.all.js"></script>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<script src="~/Kit/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="~/Kit/assets/css/amazeui.min.css" />
<link rel="stylesheet" href="~/Kit/assets/css/admin.css">
<link rel="stylesheet" href="~/Kit/assets/css/app.css">

<div style="border:solid 0px yellow;overflow:auto;padding:0px;position:relative;height:38px;">
    <ul style="display:block;width:800px;position:absolute;left:50%;margin-left:-400px;overflow:auto;border:solid 0px red;float:right">
        <li style="float:left;list-style:none">
            <button class="layui-btn" onclick="location.href='/Kitchen/AddMenu'">
                <i class="layui-icon">&#xe608</i>新增菜式
            </button>
        </li>
        <li style="float:left;list-style:none">
            <button id="BtnDel" onclick="Dels()" style="float:right;margin-right:150px" type="button" class="layui-btn layui-btn-radius layui-btn-danger">批量删除</button>
        </li>
        <li style="float:left;list-style:none">
            <input type="text" name="txtSel" style="width:200px;float:left;margin-left:70px" required lay-verify="required" placeholder="请输入菜式名称" autocomplete="off" class="layui-input">
            <button class="layui-btn layui-btn-small layui-btn-normal" onclick="Sel()">查询</button>
        </li>
    </ul>
</div>




<div class="container" id="tb" style="width:1400px;height:580px;margin:0 auto;background-color:#f2f2f2;clear:both;position:absolute">
    @foreach (var item in Model)
    {
        <div name="tr1" class="am-u-sm-12 am-u-md-6 am-u-lg-4" style="margin-top:20px">
            <a href="javascript:;" class="tpl-table-images-content-i">
                <div class="tpl-table-images-content-i-info">
                    <span class="ico">
                        <img src="@item.MenuPhoto" alt="">
                        @item.MenuName
                    </span>
                </div>
                <span class="tpl-table-images-content-i-shadow"></span>
                <img src="@item.MenuPhoto" style="width:432px;height:203px;" alt="">
            </a>
            <div class="tpl-table-images-content-block">
                <div class="tpl-i-font">
                    菜式简介:@item.MenuIntroduce
                    <br />
                    主要食材: @item.MenuIngredients
                    <br />
                    所属菜系:@item.MenuCuisine
                    <br />
                    种类:@item.MenuKind
                    <br />
                    单价:@item.UnitPrice
                    <br />
                    销售量: @item.SalesVolume
                    <br />
                    状态:
                    @if (item.MenuState == 1)
                    {
                        <span id="sp">上架</span>
                    }
                    else
                    {
                        <span id="sp">下架</span>
                    }
                </div>
            </div>
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                    <button type="button" class="am-btn am-btn-default am-btn-secondary" onclick="Upt(@item.MenuID)"><span class="am-icon-edit"></span> 修改</button>
                    <button type="button" class="am-btn am-btn-default am-btn-danger" onclick="Del(@item.MenuID,this)"><span class="am-icon-trash-o"></span> 删除</button>
                    <button type="button" class="am-btn am-btn-default am-btn-success" onclick="shang(@item.MenuID)"><span class="am-icon-plus"></span> 上架</button>
                    <button type="button" class="am-btn am-btn-default am-btn-warning" onclick="xia(@item.MenuID)"><span class="am-icon-archive"></span> 下架</button>
                </div>
            </div>
        </div>
    }
</div>


<p style="clear:both">
    <input type="hidden" id="pCount" value="@ViewBag.totaldata" />
    <input type="hidden" id="pSize" value="6" />
    <input type="hidden" id="pIndex" value="@ViewBag.currentindex" />
</p>

<div id="test1" style="margin-left:300px;margin-top:100px">123</div>

<script>
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            , count: $("#pCount").val() //数据总数，从服务端得到
            , limit: $("#pSize").val() //每页显示条数
            , prev: "上一页"
            , next: "下一页"
            , hash: "?pageIndex"
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , jump: function (obj, first) {
                if (!first) {

                    $.ajax({
                        url: "/Kitchen/Menu?pageIndex=" + obj.curr,
                        dataType: "json",
                        success: function (data) {
                            var tbody = '';
                            for (var i in data) {
                                tbody += '<div name="tr1" class="am-u-sm-12 am-u-md-6 am-u-lg-4" style="margin-top:20px">'
           +' <a href="javascript:;" class="tpl-table-images-content-i">'
             +'   <div class="tpl-table-images-content-i-info">'
               +'     <span class="ico">'
                 +'       <img src="'+data[i].MenuPhoto+'" alt="">'
                   +     data[i].MenuName
                   +' </span>'
                +'</div>'
                +'<span class="tpl-table-images-content-i-shadow"></span>'
                +'<img src="'+data[i].MenuPhoto+'" style="width:432px;height:203px;" alt="">'
            +'</a>'
            +'<div class="tpl-table-images-content-block">'
             +'   <div class="tpl-i-font">'
               +'     菜式简介:'+data[i].MenuIntroduce
                 +'   <br />'
                   +' 主要食材:'+data[i].MenuIngredients
                   +' <br />'
                   +' 所属菜系:'+data[i].MenuCuisine
                   +' <br />'
                   +' 种类:'+data[i].MenuKind
                   +' <br />'
                   +'单价:'+data[i].UnitPrice
                   +' <br />'
                   +' 销售量: '+data[i].SalesVolume
                   +' <br />'
                   +' 状态:'
                   + '<span id="sp">'+(data[i].MenuState==1?'上架':'下架')+'</span>'
                +'</div>'
            +'</div>'
            +'<div class="am-btn-toolbar">'
              +'  <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">'
                                    + '    <button type="button" class="am-btn am-btn-default am-btn-secondary" onclick="Upt(' + data[i].MenuID +')"><span class="am-icon-edit"></span> 修改</button>'
                +'    <button type="button" class="am-btn am-btn-default am-btn-danger" onclick="Del('+data[i].MenuID+',this)"><span class="am-icon-trash-o"></span> 删除</button>'
                +'    <button type="button" class="am-btn am-btn-default am-btn-success" onclick="shang('+data[i].MenuID+')"><span class="am-icon-plus"></span> 上架</button>'
                +'    <button type="button" class="am-btn am-btn-default am-btn-warning" onclick="xia('+data[i].MenuID+')"><span class="am-icon-archive"></span> 下架</button>'
                +'</div>'
            +'</div>'
        +'</div>';
                            }
                            $("[name=tr1]").remove();
                            $("#tb").append(tbody);
                        }
                    })
                }

            }
        });
    });
    function Sel() {
        location.href = "/Kitchen/ShowMenu?Name=" + $("[name=txtSel]").val();
    }
    function Dels() {
        var MenuIDs = [];
        $("[name='Deles']:checked").each(function () {
            MenuIDs.push($(this).val());
        });
        location.href = "/Kitchen/DelMenu?id=" + MenuIDs;
    }

    $(function () {
        $("#totalpage").text(Math.ceil((Number($("#totaldata").text()) / 6)));
    })
    function BtnUp() {
        if ($("#currentindex").text() != 1) {
            location.href = "/Kitchen/ShowMenu?pageindex=" + Number(Number($("#currentindex").text()) - 1) + "&name=" + $("#txtSel").val();
        }
        else {
            layui.use('layer', function () {
                layer.alert('已经是首页了');
            })
        }
    }
    function BtnDown() {
        if ($("#currentindex").text() != $("#totalpage").text()) {
            location.href = "/Kitchen/ShowMenu?pageindex=" + Number(Number($("#currentindex").text()) + 1) + "&name=" + $("#txtSel").val();
        }
        else {
            layui.use('layer', function () {
                layer.alert('已经是尾页了');
            })
        }
    }
    function Upt(Id) {
        location.href = '/Kitchen/UptMenu?id='+ Id;
    }

</script>

<script>
    function shang(mid) {
        $.ajax({
            url: "/Kitchen/UporDown",
            data: { "mState": 1, "mId": mid },
            type: "get",
            success: function (data) {
                layer.msg(data);
                $("#sp").text('上架')
            }
        })
    }
    function xia(mid) {
        $.ajax({
            url: "/Kitchen/UporDown",
            data: { "mState": 0, "mId": mid },
            type: "get",
            success: function (data) {
                layer.msg(data);
                 $("#sp").text('下架')
            }
        })
    }
</script>

<script>

    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "/Kitchen/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }
        })
    }
    function Upt(Id) {
        location.href = '/Kitchen/UptMenu?id=' + Id;
    }
    function Del(id, obj) {

        layui.use('layer', function () {
            layer.confirm('是否删除此菜式?',
                {
                    btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        $.ajax({
                            url: "/Kitchen/DelMenu?id=" + id,
                            success: function (data) {
                                layer.alert(data);
                                location.reload();
                            }
                        })
                    }, btn2: function (index) {
                    }
                })
        })
    }
 
</script>