@model IEnumerable<Restaurant_Information_MVC.Models.KitchenViewModel>
@{
    ViewBag.Title = "ShowMenu";
}
<style>
</style>

<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<div id="Box" style="border:solid 0px yellow;overflow:auto;padding:0px;position:relative;height:38px;">
    <ul style="display:block;width:800px;position:absolute;left:50%;margin-left:-400px;overflow:auto;border:solid 0px red;float:right;">
        <li style="float:left;list-style: none;">
            <button class="layui-btn" onclick="location.href='/Kitchen/AddMenu'">
                <i class="layui-icon">&#xe608</i>新增菜式
            </button>
        </li>
        <li style="float:left;list-style: none;">
            <button id="BtnDel" onclick="Dels()" style="float:right;margin-right:150px" type="button" class="layui-btn layui-btn-radius layui-btn-danger">批量删除</button>
        </li>
        <li style="float:left;list-style: none;">
            <input type="text" name="txtSel" style="width:200px;float:left;margin-left:70px" required lay-verify="required" placeholder="请输入菜式名称" autocomplete="off" class="layui-input">
            <button class="layui-btn layui-btn-small layui-btn-normal" onclick="Sel()">查询</button>
        </li>
    </ul>
</div>




<div class="container" id="tb" style="width:1200px;height:580px;margin:0 auto;background-color:#f2f2f2;clear:both;margin-left:50px;position:absolute;">

    @foreach (var item in Model)
    {
        <table class="col-lg-4" name="tr1" style="width:350px;height:250px;float:left;background-color:#ffffff;margin-left:20px;margin-top:30px;">
            <tr>
                <td colspan="5">
                    <img src="@item.MenuPhoto" style="width:100px;height:100px;" />
                    <div style="margin-left:20px;"> @item.MenuName</div>
                </td>
                <td>
                    <div style="float:right"><input value="@item.MenuID" name="Deles" type="checkbox" /></div>
                    <div> 菜式简介:@item.MenuIntroduce</div>
                    <div>
                        主要食材: @item.MenuIngredients
                    </div>
                    <div>
                        所属菜系:@item.MenuCuisine
                    </div>
                    <div>
                        种类:@item.MenuKind
                    </div>
                    <div>
                        单价:@item.UnitPrice
                    </div>
                    <div>
                        销售量: @item.SalesVolume
                    </div>
                    <br />
                    <div>
                        <button class="layui-btn layui-btn-radius layui-btn-warm" onclick="location.href='/Kitchen/UptMenu?id=@item.MenuID'">菜式修改</button>
                        <button class="layui-btn layui-btn-radius layui-btn-danger" onclick="Del(@item.MenuID,this)">删除菜式</button>
                    </div>

                </td>
            </tr>
        </table>

    }
</div>
<p style="clear:both">
    <input type="hidden" id="pCount" value="@ViewBag.totaldata" />
    <input type="hidden" id="pSize" value="6" />
    <input type="hidden" id="pIndex" value="@ViewBag.currentindex" />
</p>

<div id="t1" style="margin-top:200px;margin-left:300px"></div>

<script>
    //function Sel() {
    //    location.href = "/Kitchen/ShowMenu?Name=" + $("[name=txtSel]").val();
    //}
    //function Dels() {
    //    var MenuIDs = [];
    //    $("[name='Deles']:checked").each(function () {
    //        MenuIDs.push($(this).val());
    //    });
    //    location.href = "/Kitchen/DelMenu?id=" + MenuIDs;
    //}

    //$(function () {
    //    $("#totalpage").text(Math.ceil((Number($("#totaldata").text()) / 6)));
    //})
    //function BtnUp() {
    //    if ($("#currentindex").text() != 1) {
    //        location.href = "/Kitchen/ShowMenu?pageindex=" + Number(Number($("#currentindex").text()) - 1) + "&name=" + $("#txtSel").val();
    //    }
    //    else {
    //        layui.use('layer', function () {
    //            layer.alert('已经是首页了');
    //        })
    //    }
    //}
    //function BtnDown() {
    //    if ($("#currentindex").text() != $("#totalpage").text()) {
    //        location.href = "/Kitchen/ShowMenu?pageindex=" + Number(Number($("#currentindex").text()) + 1) + "&name=" + $("#txtSel").val();
    //    }
    //    else {
    //        layui.use('layer', function () {
    //            layer.alert('已经是尾页了');
    //        })
    //    }
    //}

</script>

<script>

    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "/Kitchen/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }
        })
    }
    function Upt(Id) {
        location.href = '/Kitchen/UptMenu?id=' + Id;
    }
    function Del(id, obj) {

        layui.use('layer', function () {
            layer.confirm('是否删除此菜式?',
                {
                    btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        $.ajax({
                            url: "/Kitchen/DelMenu?id=" + id,
                            success: function (data) {
                                layer.alert(data);
                                location.reload();
                            }
                        })
                    }, btn2: function (index) {
                    }
                })
        })
    }
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 't1' //注意，这里的 test1 是 ID，不用加 # 号
            , count: Number($("#pCount").val()) //数据总数，从服务端得到
            , limit: Number($("#pSize").val()) //每页显示条数
            , prev: "上一页"
            , next: "下一页"
            , hash: "?pageIndex"
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , jump: function (obj, first) {
                if (!first) {
                    //alert('第 ' + obj.curr + ' 页');
                    //location.href = "/Reception/ShowOrder?pageIndex=" + obj.curr

                    $.ajax({
                        url: "/Kitchen/Menu?pageIndex=" + obj.curr,
                        dataType: "json",
                        success: function (data) {
                            var tbody = '';
                            for (var i in data) {
                                tbody += '<table class="col-lg-4" name="tr1" style="width:350px;height:250px;float:left;background-color:#ffffff;margin-left:20px;margin-top:30px;">'
                                    + '<tr>'
                                    + ' <td colspan="5">'
                                    + '    <img src="' + data[i].MenuPhoto + '" style="width:100px;height:100px;" />'
                                    + '  <div style="margin-left:20px;">' + data[i].MenuName + '</div>'
                                    + '</td>'
                                    + '<td>'
                                    + '  <div style="float:right"><input value="' + data[i].MenuID + '" name="Deles" type="checkbox" /></div>'
                                    + '<div> 菜式简介:' + data[i].MenuIntroduce + '</div>'
                                    + '<div>'
                                    + '  主要食材: ' + data[i].MenuIngredients
                                    + '</div>'
                                    + '<div>'
                                    + '  所属菜系:' + data[i].MenuCuisine
                                    + '</div>'
                                    + '<div>'
                                    + '  种类:' + data[i].MenuKind
                                    + '</div>'
                                    + '<div>'
                                    + '  单价:' + data[i].UnitPrice
                                    + '</div>'
                                    + '<div>'
                                    + '  销售量: ' + data[i].SalesVolume
                                    + '</div>'
                                    + '<br />'
                                    + '<div>'
                                    + '  <button class="layui-btn layui-btn-radius layui-btn-warm" onclick="Upt(' + data[i].MenuID + ')">菜式修改</button>'
                                    + '<button class="layui-btn layui-btn-radius layui-btn-danger" onclick="Del(' + data[i].MenuID + ',this)">删除菜式</button>'
                                    + '</div>'
                                    + '</td>'
                                    + '</tr>'
                                    + '</table>';
                            }
                            $("[name=tr1]").remove();
                            $("#tb").append(tbody);
                        }
                    })
                }

            }
        });
    });
</script>












@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ShowMenu</title>
        <script src="~/Scripts/jquery-3.3.1.js"></script>
    </head>
    <body>
        <div>
            <div style="width:100%">
                <p>显示菜品列表</p>
                @foreach (var item in Model)
                {
                    <div style="width:450px;height:350px;border:1px solid #ff0000;margin:20px;float:left">
                        <div onclick="Upt(@item.MenuID)" style="width:150px;margin-left:30px;margin-top:50px;float:left;">
                            <img style="width:250px;height:200px;" src="~/Images/Img.PNG" />
                            <span style="margin-left:20px">@item.MenuName</span>
                            <p style="margin:0 auto;width:150px;margin-left:30px;">
                                <input style="background-color:skyblue" type="button" value="修改" onclick="Upt(@item.MenuID)" />
                            </p>
                        </div>

                        <div style="float:left;padding:40px;width:230px;height:300px;">
                            <p>种类:@item.MenuKind</p>
                            <p>所属菜系:@item.MenuCuisine</p>
                            <p>菜式简介:@item.MenuIntroduce</p>
                            <p>主要食材:@item.MenuIngredients</p>
                            <p>单价:@item.UnitPrice</p>
                            <p>销售量：@item.SalesVolume</p>
                        </div>
                        <div style="width:20px;height:20px;float:right;">
                            <input id="Checkbox1" name="Del" type="checkbox" value="@item.MenuID" />
                        </div>
                    </div>
                }
            </div>

            <p>
                <input id="BtnDel" onclick="Del()" type="button" value="批量删除" />
                <span style="margin-left:40%"></span>
                <a href="#" onclick="PageChange('-')">上一页</a>
                <label id="PageIndex">@ViewBag.PageIndex</label>
                <a href="#" onclick="PageChange('+')">下一页</a>
                <select onchange="PageChange('?')" id="PageSize">
                    <option value="3">3条/页</option>
                    <option value="6">6条/页</option>
                    <option value="9">9条/页</option>
                    <option value="12">12条/页</option>
                </select>
            </p>

        </div>
    </body>
    </html>*@
@*<script>
        $(function () {
            $("#PageSize").val(@ViewBag.PageSize);
        })
        function Del() {
            var AIdArr = [];
            $("[name='Del']:checked").each(function () {
                AIdArr.push($(this).val());
            });
            location.href = "/Address/Del/?AID=" + AIdArr + "";
        }
        function Upt(AId) {
            location.href = "/Kitchen/UptView/?AID=" + AId + "&PageIndex=" + $("#PageIndex").text() + "&PageSize=" + $("#PageSize").val() + "";
        }
        function PageChange(By) {
            if (By == '-') {
                $("#PageIndex").text(Number($("#PageIndex").text()) - 1);
            } else if (By == '+') {
                $("#PageIndex").text(Number($("#PageIndex").text()) + 1);
            }
            location.href = "/Kitchen/ShowMenu/?PageIndex=" + $("#PageIndex").text() + "&PageSize=" + $("#PageSize").val() + "";
        }
    </script>*@

