@model IEnumerable<Restaurant_Information_MVC.Models.FoodSelectionViewModel>
@{
    ViewBag.Title = "ShowFoodSelection";
}

<h2>ShowFoodSelection</h2>

<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<form action="/Reception/ShowFoodSelection" method="get">
    <input type="hidden" id="pCount" value="@ViewBag.pCount" />
    <input type="hidden" id="pSize" value="@ViewBag.pSize" />
    <input type="hidden" id="pIndex" value="@ViewBag.pIndex" />
    <input type="text" placeholder="请输入您要查询的订单号" name="OrderId" style="width:240px;height:37px;float:left;margin-left:500px" value="" />
    <input type="submit" class="layui-btn" style="float:left" value="查询" />
</form>
<table id="tb" style="margin-top:60px" class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>订单号</th>
            <th>用户名称</th>
            <th>单价</th>
            <th>菜式名称</th>
            <th>数量</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody Name="tr1">
            <tr>
                <td>@item.OrderID</td>
                <td>@item.Order.UserName</td>
                <td>@item.Menu.UnitPrice</td>
                <td>@item.Menu.MenuName</td>
                <td>@item.Amount</td>
            </tr>
        </tbody>
    }
</table>
<div id="test1" style="margin-left:500px"></div>
<script>
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            , count: Number($("#pCount").val()) //数据总数，从服务端得到
            , limit: Number($("#pSize").val()) //每页显示条数
            , prev: "上一页"
            , next: "下一页"
            , hash: "?pageIndex"
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , refresh:[2,4,6,8,10]
            , jump: function (obj, first) {
                if (!first) {
                    //alert('第 ' + obj.curr + ' 页');
                    //location.href = "/Reception/ShowOrder?pageIndex=" + obj.curr

                    $.ajax({
                        url: "/Reception/FoodSelection?pageIndex=" + obj.curr,
                        dataType: "json",
                        success: function (data) {
                            var tbody = '';
                            for (var i in data) {
                                tbody += ' <tbody Name="tr1">'
                                    + ' <tr>'
                                    + '<td>' + data[i].OrderID + '</td> '
                                    + '<td>' + data[i].Order.UserName + '</td>'
                                    + '<td>' + data[i].Menu.UnitPrice + '</td>'
                                    + '<td>' + data[i].Menu.MenuName + '</td>'
                                    + '<td>' + data[i].Amount + '</td>'                                    
                                    + '</tr>'
                                    + '</tbody>';
                            }
                            $("[name=tr1]").remove();
                            $("#tb").append(tbody);
                        }
                    })
                }

            }
        });
    });


</script>
