@model IEnumerable<Restaurant_Information_MVC.Models.Foods>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetMoney</title>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    
    <div style="margin:50px auto;width:400px;">
        <div id="timer" style="font-size:30px;text-align:center;color:crimson"></div>
        <table class="layui-table" lay-skin="line" style="text-align:center;margin-top:10px;">
            <tr>
                <td>
                    @Html.DisplayName("商品名称")
                </td>
                <td>
                    @Html.DisplayName("商品数量")
                </td>
                <td>
                    @Html.DisplayName("商品单价")
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </table>
        <div class="layui-form-item" style="margin-top:20px;">
            <label class="layui-form-label" style="margin-left:-35px; font-size:20px;">总价钱:</label>
            <div class="layui-input-block">
                <input name="title" class="layui-input" type="text" autocomplete="off" lay-verify="title" value="@Session["Money"] 元" readonly style="font-size:20px">
            </div>
        </div>
        <img src="~/Images/微信.png" alt="" style="height:50px;width:140px;margin-top:20px;margin-left:20px" id="Wx" />
        <img src="~/Images/支付宝.png" alt="" style="height:50px;width:140px; margin-left:90px;margin-top:20px;" id="Zfb" />
        <img src="~/Images/wxZF.png" alt="Alternate Text" style="height:300px;width:300px;margin-left:50px;margin-top:40px;display:none" id="WZ" />
        <img src="~/Images/zfbZF.png" alt="Alternate Text" style="height:300px;width:300px;margin-left:50px;margin-top:40px;display:none; " id="ZZ" />
        <div style="height:60px;width:300px;margin:0 auto"></div>
        <div id="layerDemo">
            <input id="Button1" type="button" value="支付完成" data-method="notice" class="layui-btn layui-btn-fluid" style="margin:0 auto;" />
        </div>
        <div style="height:20px;width:300px;margin:0 auto"></div>
        <input id="Button2" type="button" value="取消订单" class="layui-btn  layui-btn-primary layui-btn-fluid" style="margin:0 auto;" />

    </div>
</body>
</html>
<script>

    $("#Button2").click(function () {
        $.ajax({
            url: "/Login/QuXiao?value=1",
            dataType: "text",
            success: function (data) {
                    //改为自己项目的ip地址
                    location.href = "http://10.1.155.5:8080/#/goods";
                
            }
        })
    })

    $("#Button3").click(function () {
        var name = $("#Jiu").val();
        alert(name);
        $.ajax({
            url: "/Login/GetMa?name=" + name,
            dataType: "text",
            success: function (data) {
                if (data == "1") {
                    
                    location.href ='/Kitchen/Gettables'
                }
                else {
                    alert(data)
                }
            }
        })
    })

    $("#Button1").click(function () {
        $("#JiuCan").show();
    })
    $("#Guan").click(function () {
        $("#JiuCan").hide();
    })
    $("#Wx").click(function () {
        $("#WZ").show();
        $("#ZZ").hide();
    })
    $("#Zfb").click(function () {
        $("#WZ").hide();
        $("#ZZ").show();
    })
    var maxtime = 10 * 60;
    function CountDown() {
        if (maxtime >= 0) {
            minutes = Math.floor(maxtime / 60);
            seconds = Math.floor(maxtime % 60);
            msg = "请在" + minutes + "分" + seconds + "秒内完成订单";
            document.all["timer"].innerHTML = msg;
            --maxtime;
        } else {
            clearInterval(timer);
            alert("时间到，结束!");
        }
    }
    timer = setInterval("CountDown()", 1000);





    layui.use('layer', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
             notice: function () {
                //示范一个公告层
                 layer.prompt({
                     formType: 2,
                     value: '',
                     title: '请输入订餐号',
                     area: ['200px', '25px'] //自定义文本域宽高
                 }, function (value, index, elem) {
                     $.ajax({
                         url: '/Login/GetMa?name=' + value,
                         dataType: 'text',
                         success: function (data) {
                             if (data == "1") {
                                 location.href ='/Login/Gettables'
                             }
                             else {
                                 alert(data);
                             }
                         }
                     })
                     layer.close(index);
                 });
            }
            
            , offset: function (othis) {
                var type = othis.data('type')
                    , text = othis.text();

                layer.open({
                    type: 1
                    , offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    , id: 'layerDemo' + type //防止重复弹出
                    , content: '<div style="padding: 20px 100px;">' + text + '</div>'
                    , btn: '关闭全部'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        layer.closeAll();
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });



</script>
