
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/icofont/icofont.css" rel="stylesheet" />
    <script src="~/Scripts/Chart.bundle.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        canvas1 {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>
<body>
    <input type="hidden" id="oneMoney" value="@ViewBag.money" />
    <div class="grid-info" style="height:180px;">
        <div class="col-md-3 top-comment-grid">
            <div class="comments">
                <div class="comments-icon">
                    <img src="~/Images/dingdanguanli.png" alt="" style="width:100px;height:100px;" />
                </div>
                <div class="comments-info">
                    <h3>@ViewBag.OrderNum</h3>
                    <a href="#">今日订单数</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 top-comment-grid">
            <div class="comments tweets">
                <div class="comments-icon">
                    <img src="~/Images/qian.png" alt="" style="width:100px;height:100px;" />
                </div>
                <div class="comments-info tweets-info">
                    <h3>@ViewBag.oneMoney</h3>
                    <a href="#">今日收入</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 top-comment-grid">
            <div class="comments views">
                <div class="comments-icon">
                    <img src="~/Images/shuliang.png" alt="" style="width:100px;height:100px;" />
                </div>
                <div class="comments-info views-info">
                    <h3>@ViewBag.menu</h3>
                    <a href="#">菜式数量</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 top-comment-grid" style="height:200px;">
            <div class="comments views">
                <div class="comments-icon">
                    <img src="~/Images/count.png" alt="" style="width:100px;height:100px;" />
                </div>
                <div class="comments-info views-info">
                    <h3>@ViewBag.money</h3>
                    <a href="#">历史收入</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div id="container" style="width:600px;height:400px;margin-top:150px;margin-left:850px;position:absolute">
        <div style="margin-left:200px;">
            <i class="icofont-chart-line" style="font-size:25px">近七日成交订单</i>
        </div>
        <hr class="layui-bg-green">
        <canvas id="canvas"></canvas>
    </div>

    <div  style="width:600px;height:400px;margin-top:150px;margin-left:100px;position:absolute">
        <div style="margin-left:100px;">
            <i class="icofont-chart-line" style="font-size:25px">分红显示</i>
        </div>
        <hr class="layui-bg-green">
        <canvas id="canvas1"></canvas>
    </div>

</body>
</html>
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script>
   
    $(".qs").click(function () {
        location.href = '/Reception/ShowOrder';
    })
    $(".cs").click(function () {
        location.href = '/Finance/ShowBill';
    })
    $(".hs").click(function () {
        location.href = '/Kitchen/ShowMenu';
    })
    $(".ls").click(function () {
        location.href ='/Finance/ShowEarning';
    })
    var arr = [];
    var Chartdata = [];

    $.ajax({
        url: "/Login/GetResult",
        contentType: "application/json",
        dataType: "json",
        async: false,
        success: function (data) {
            for (var i = 0; i < data.length; i++) {
                Chartdata.push(data[i]);
            }
        }
    });
    $.ajax({
        url: "/Login/GetArr",
        contentType: "application/json",
        dataType: "json",
        async: false,
        success: function (data) {
            for (var i = 0; i < data.length; i++) {
                arr.push(data[i]);
            }
        }
    });



    var color = Chart.helpers.color;
    var barChartData = {
        labels: arr,
        datasets: [{
            borderColor: window.chartColors.green,
            borderWidth: 1,
            data: Chartdata,
            backgroundColor: window.chartColors.blue
        }]


    };
     layui.use('layer', function () {
     if (@Session["msg"]== "1") {
            var layer = layui.layer;
         layer.msg('您没有权限', { anim: 6, time: 500, icon: 2 })
        }
    });


    var arr1 = ['贤者', '智者', '哲人','店长','店员','Boss'];
    var Chartdata1 = [];
    var Color1 = [
        '#66FFFF', '#ffce56', '#ff6384', '#36a2eb', '#cc65fe', '#CCFF33'
    ]
    var Money = $("#oneMoney").val();
    var zc = Money * 0.5, cd = Money * 0.25, kg = Money * 0.0175, zt = Money * 0.075, wdk = Money * 0.075, qg = Money * 0.085;
    //$.ajax({
    //    url: "/Attendance/GetChartsAttend",
    //    dataType: "json",
    //    contentType: "application/json",
    //    async: false,
    //    success: function (data) {
    //        for (var i in data) {
    //            if (data[i].AttenState == 1) {
    //                zc = zc + 1;
    //            }
    //            else if (data[i].AttenState == 2) {
    //                cd = cd + 1;
    //            }
    //            else if (data[i].AttenState == 4) {
    //                zt = zt + 1;
    //            }
    //            else if (data[i].AttenState == 3) {
    //                kg = kg + 1;
    //            }
    //            else {
    //                wdk = wdk + 1;
    //            }
    //        }
    //        Chartdata = [zc, cd, kg, zt, wdk];
    //    }
    //})
    Chartdata1 = [zc, cd, kg, zt, wdk, qg];
    var color11 = Chart.helpers.color;
    var barChartData1 = {
        labels: arr1,
        datasets: [{
            label: '分红展示',
            backgroundColor: Color1,
            borderColor: window.chartColors.red,
            borderWidth: 1,
            data: Chartdata1
        }]

    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'line',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: '',
                },
                title: {
                    display: false,
                    text: ''
                }
            }
        });
        var ctx1 = document.getElementById('canvas1').getContext('2d');
        window.myBar = new Chart(ctx1, {
            type: 'pie',
            data: barChartData1,
            options: {
                responsive: true,
                legend: {
                    position: 'left',
                },
                title: {
                    display: true,
                    text: '',
                   
                }
            }
        });

    };
</script>
