@model List<Restaurant_Information_MVC.Models.CommentViewModel>
@using Restaurant_Information_MVC.Controllers
@{
    ViewBag.Title = "ShowComment";
}
@*<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>*@
<h1>显示所有的评论</h1>
<h2 style="margin-left:40px;">总记录数<span id="totaldata">@ViewBag.totaldata</span>条</h2>
@foreach (var item in Model)
{
    <div style="width:600px;height:200px;border:solid 1px;margin-left:80px;">
        <p>
            <span style="margin-left:70%; color:blue;float:right">订单号：@item.OrderID</span>
        </p>
       <div style="width:80%;height:130px;margin-top:20px;">
           <h3><b>@item.Comments</b></h3>
           

       </div>
       <p>
           <label id="state" style="margin-bottom:10px;">
               @{Stateinfo s = (Stateinfo)item.ReviewState;}

           </label>
           @if (s == Stateinfo.审核通过)
           {
               <b style="color:#60c336;float:left;margin-right:50px;">@s</b>
               <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptComment?id=@item.CommentId'" style="float:right;">详情</button>
           }
           else if (s == Stateinfo.驳回)
           {
               <b style="color:red;margin-right:50px;">@s</b>
               <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptComment?id=@item.CommentId'" style="float:right;">详情</button>
           }
           else
           {
               <b style="color:#ceca37;margin-right:50px;">@s</b>
               <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptComment?id=@item.CommentId'" style="float:right;">审核</button>

           }
       </p>
    </div>
    <p style="width:100%;height:10px;"></p>
}

    <p>
        <span>
            <span>当前第</span>
            <span id="currentindex">@ViewBag.currentindex</span>
            <span>页，总共</span>
            <span id="totalpage"></span>
            <span>页</span>

        </span>
        <button class="layui-btn" onclick="BtnUp()">
            <i class="layui-icon">上一页</i>
        </button>
        <button class="layui-btn" onclick="BtnDown()">
            <i class="layui-icon">下一页</i>
        </button>

    </p>
<script>
    $(function () {
        $("#totalpage").text(Math.ceil((Number($("#totaldata").text()) / 2)));
    })
    function BtnUp() {
        if ($("#currentindex").text() != 1) {
            location.href = "/Work/ShowComment?pageindex=" + Number(Number($("#currentindex").text()) - 1);
        }
        else {
            layui.use('layer', function () {
                layer.alert('已经是首页了');
            })
           
        }
    }
    function BtnDown() {
        if ($("#currentindex").text() != $("#totalpage").text()) {
            location.href = "/Work/ShowComment?pageindex=" + Number(Number($("#currentindex").text()) + 1);
        }
        else {
            layui.use('layer', function () {
                layer.alert('已经是尾页了');
            })
        }
    }
   
</script>


