@model IEnumerable<Restaurant_Information_MVC.Models.ProposerViewModel>

@{
    ViewBag.Title = "ShowProposer";
}


<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>

<h2>ShowProposer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="layui-form">
    <table class="layui-table">

        <thead>
            <tr>
                <th>编号</th>
                <th>股东编号</th>
                <th>申请原因</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ProposerId</td>
                <td>
                    @item.RoleId
                </td>
                <td>@item.ProposerCause</td>
                <td>@item.ProposerTime</td>
                <td>@item.StateTime</td>
                <td>@item.EndTime</td>
                <td>@item.ProposerState</td>
                <td>
                    <input id="Button1" type="button" value="删除" onclick="Del(@item.ProposerId )" />
                    <input id="Button1" type="button" value="审核" onclick="Del(@item.ProposerId )" />
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>


<script>




</script>