@model IEnumerable<Restaurant_Information_MVC.Models.ProperOrderSherd>
@using Restaurant_Information_MVC.Controllers
@{
    ViewBag.Title = "显示带审核信息";
}


<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>



<h1>显示所有的申请记录</h1>
<div style="margin:0 auto;width:100px;height:20px;">
    <h2>总记录数<span id="totaldata">@ViewBag.totaldata</span>条</h2>
</div>
@*@foreach (var item in Model)
{

    <div style=" width: 475px;
        height: 300px;
        border: solid 0px;
        margin: 0 auto;
        border-radius: 10%;
        background-image: url('../../Images/zhi.png');
">
        <div style="height:50px;"></div>
        <p>
            <span hidden>订单号：@item.OrderID</span>
            <span style="margin:0 auto;padding-left:40px;">申请时间：@item.Ctime</span>
            <span style="margin-left:70%; color:blue;float:right;padding-right:40px;">用户：@item.CName</span>
        </p>
        <div style="width:80%;height:100px;margin-top:50px;padding-left:50px;">
            <h3><b>@item.Comments</b></h3>


        </div>
        <div style="height:50px;">
            <p>
                <label id="state">
                    @{Stateinfo s = (Stateinfo)item.ReviewState;}

                </label>
                @if (s == Stateinfo.审核通过)
                {
                    <b style="color:#808080;margin-left:150px;">已审核</b>
                    <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptComment?id=@item.CommentId'" style="margin-left:250px;margin-bottom:200px;">详情</button>
                }
                else if (s == Stateinfo.驳回)
                {
                    <b style="color:#808080;margin-left:150px;">已审核</b>
                    <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptComment?id=@item.CommentId'" style="margin-left:250px ">详情</button>
                }
                else
                {
                    <div style="width:100px;margin-left:150px;margin:0 auto">
                        <b style="color:#ceca37;">@s</b>
                        <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptComment?id=@item.CommentId '" style="margin-left:250px">审核</button>
                    </div>

                }
            </p>
        </div>
    </div>
    <p style="width:100%;height:10px;"></p>
}*@












    
       @foreach (var item in Model)
       {

<div style=" width: 475px;
              height: 300px;
        border: solid 0px;
        margin: 0 auto;
        border-radius: 10%;
        background-image: url('../../Images/zhi.png');">
    <div style="height:50px;"></div>
    <p style="padding-left:36%;padding-bottom:20px;">编号:<span style="padding-left:50px;">@item.ProposerId</span></p>
    <p style="padding-left:30%;padding-bottom:20px;">股东名称:<span style="padding-left:50px;">@item.Uname</span></p>
    <p style="padding-left:30%;padding-bottom:20px;">开始时间:<span style="padding-left:50px;">@item.StateTime</span></p>
    <p style="padding-left:30%;padding-bottom:20px;">申请原因:<span style="padding-left:50px;">@item.ProposerCause</span></p>
    <p style="padding-left:30%;padding-bottom:20px;">申请时间:<span style="padding-left:50px;">@item.ProposerTime</span></p>
    <div style="height:50px;">
        <p>
            <label id="state">
                @{Stateinfo s = (Stateinfo)item.ProposerState;}

            </label>
            @if (s == Stateinfo.审核通过)
            {
                <b style="color:#808080;margin-left:150px;">已审核</b>
                <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptProposer?id=@item.ProposerId'" style="margin-left:250px;margin-bottom:200px;">详情</button>
            }
            else if (s == Stateinfo.驳回)
            {
                <b style="color:#808080;margin-left:150px;">已审核</b>
                <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptProposer?id=@item.ProposerId'" style="margin-left:250px ">详情</button>
            }
            else
            {
                <div style="width:200px;margin-left:150px;">
                    <b style="color:#ceca37;padding-right:20px;">@s</b>
                    <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptProposer?id=@item.ProposerId '" style="padding-left:20px;">审核</button>
                </div>

            }
        </p>
    </div>
</div>
       }

                @*<table class="layui-table">

                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>股东名称</th>
                            <th>申请原因</th>
                            <th>申请时间</th>
                            <th>开始时间</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProposerId</td>

                                <td>@item.Uname</td>

                                <td>@item.ProposerCause</td>
                                <td>@item.ProposerTime</td>
                                <td>@item.StateTime</td>

                                <td>
                                    <p>
                                        <label id="state" style="margin-bottom:10px;">
                                            @{Stateinfo s = (Stateinfo)item.ProposerState;}

                                        </label>
                                        @if (s == Stateinfo.审核通过)
                                        {
                                            <b style="color:#808080;float:left;margin-right:50px;">已审核</b>
                                            <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptProposer?id=@item.ProposerId'" style="float:right;">详情</button>
                                        }
                                        else if (s == Stateinfo.驳回)
                                        {
                                            <b style="color:#808080;margin-right:20px;">已审核</b>
                                            <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptProposer?id=@item.ProposerId'" style="float:right;">详情</button>
                                        }
                                        else
                                        {
                                            <div style="width:100px;margin-right:10px;">
                                                <b style="color:#ceca37;padding-right:50px;">@s</b>
                                                <button class="layui-btn layui-btn-radius" onclick="location.href='/Work/UptProposer?id=@item.ProposerId'" style="float:left;">审核</button>
                                            </div>

                                        }
                                    </p>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>*@
                <p style="margin:0 auto;width:400px;height:50px;">
                    <span>
                        <span>当前第</span>
                        <span id="currentindex">@ViewBag.currentindex</span>
                        <span>页，总共</span>
                        <span id="totalpage">@ViewBag.totalpage</span>
                        <span>页</span>

                    </span>
                    <button class="layui-btn" onclick="BtnUp()">
                        <i class="layui-icon">上一页</i>
                    </button>
                    <button class="layui-btn" onclick="BtnDown()">
                        <i class="layui-icon">下一页</i>
                    </button>

                </p>

            </div>
            <script>
                $(function () {
                    $("#totalpage").text(Math.ceil(Number(Number($("#totaldata").text()) / 5)));
                })
                function BtnUp() {
                    if ($("#currentindex").text() != 1) {
                        location.href = "/Work/ShowProposer?Permission=8&pageindex=" + Number(Number($("#currentindex").text()) - 1);
                    }
                    else {
                        layui.use('layer', function () {
                            layer.alert('已经是首页了');
                        })

                    }
                }
                function BtnDown() {
                    if ($("#currentindex").text() != $("#totalpage").text()) {
                        location.href = "/Work/ShowProposer?Permission=8&pageindex=" + Number(Number($("#currentindex").text()) + 1);
                    }
                    else {
                        layui.use('layer', function () {
                            layer.alert('已经是尾页了');
                        })
                    }
                }
            </script>



