@model Restaurant_Information_MVC.Models.CommentViewModel

@{
    ViewBag.Title = "UptComment";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<h2>审核页面</h2>

<div>
    <h4>CommentViewModel</h4>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("评论编号")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentId)
        </dd>

        <dt>
            @Html.DisplayName("订单号")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayName("评论信息")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>

        </dt>
        <dd>
            <input id="Button1" type="button" value="审核通过" onclick="Tong(@Model.CommentId)" />
            <input id="Button1" type="button" value="驳回" onclick="Bo(@Model.CommentId)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("返回列表", "ShowComment")
</p>
<script>
    function Tong(id) {
        var o = {
            CommentId: id,
            MenuID:@Model.MenuID,
            OrderID:@Model.OrderID,
            Comments:@Model.Comments,
            ReviewState:1
        };
        confirm("确认审核通过？")
        {
            $.ajax({
                url: "/Work/UptComment",
                data: { comment: o },
                type: "post",
                success: function (data) {
                    alert(data);
                    location.href = '/Work/ShowComment';
                }
            })
        }
    }
     function Bo(id) {
        var o = {
            CommentId: id,
            MenuID:@Model.MenuID,
            OrderID:@Model.OrderID,
            Comments:@Model.Comments,
            ReviewState:2
         };
         confirm("确认审核驳回？")
         {
             $.ajax({
                 url: "/Work/UptComment",
                 data: { comment: o },
                 type: "post",
                 success: function (data) {
                     alert(data);
                     location.href = '/Work/ShowComment';
                 }
             })
         }
    }
</script>
