@model Restaurant_Information_MVC.Models.ProperOrderSherd
@using Restaurant_Information_MVC.Controllers
@{
    ViewBag.Title = "审核店长";
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>

<div>

    <input id="Hidden1" type="hidden" value="@Model.ProposerId" />
    <input id="Hidden2" type="hidden" value="@Model.ShareHolderId" />
    <input id="Hidden3" type="hidden" value="@Model.Ntime" />


    <form class="layui-form" style="width:700px;position:absolute">
        <div class="layui-form-item" style="float:left;">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input id="Uname" type="text" name="title" required lay-verify="required" value="@Model.Uname" autocomplete="off" class="layui-input" style="width:300px;float:left">

            </div>
        </div>
        @*<div class="layui-form-item" style="float:left;">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input id="Rname" type="text" name="title" required lay-verify="required" value="@Model.Rname" autocomplete="off" class="layui-input" style="width:300px;float:left">

                </div>
            </div>*@


        <div class="layui-form-item">
            <label class="layui-form-label">所要申请时间</label>
            <div class="layui-input-block">
                <input id="Starttime" type="text" name="title" required lay-verify="required" value="@Model.StateTime" disabled autocomplete="off" class="layui-input" style="width:300px;">
                
            </div>


        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">原因</label>
            <div class="layui-input-block">
                <input id="case" type="text" name="title" required lay-verify="required" value="@Model.ProposerCause" disabled autocomplete="off" class="layui-input" style="width:300px;height:300px;float:left">

            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">申请时间</label>
            <div class="layui-input-block">
                <b id="ptime">@Model.ProposerTime</b>

            </div>



        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                @{Stateinfo s = (Stateinfo)Model.ProposerState;}
                @if (s == Stateinfo.审核通过)
                {
                    <b style="color:#60c336;margin-bottom:10px;">@s</b>

                }
                else if (s == Stateinfo.驳回)
                {
                    <b style="color:red;margin-bottom:10px;">@s</b>

                }
                else
                {

                    <input id="Button1" class="layui-btn layui-btn-radius" type="button" value="审核通过" onclick="Upt(@Model.ProposerId)" />
                    <input id="Button1" class="layui-btn layui-btn-radius" type="button" value="驳回" onclick="Fan(@Model.ProposerId)" />
                }


            </div>

        </div>


    </form>
</div>
<script>
    function Upt(id) {
        var o = {
            ProposerId: id,
            ShareHolderId: $("#Hidden2").val(),
            ProposerCause: $("#case").val(),
            ProposerTime: $("#ptime").text(),
            StateTime: $("#Starttime").val(),
            EndTime: $("#Endtime").val(),
            ProposerState: 1,
            Ntime=$("#Hidden3").val()-1,

        };
        layui.use('layer', function () {
            layer.confirm("确认通过？", {
                btn: ['确定', '取消']
                , yes: function (index, layero) {
                    $.ajax({
                        url: "/Work/UptProposer",
                        data: { proposerView: o },
                        type: "post",
                        success: function (data) {
                            layer.alert(data);


                        }
                    })
                }, btn2: function (index) { }
            })

        })
    }
    function Fan(id) {
        var o = {
            ProposerId: id,
            ShareHolderId: $("#Hidden2").val(),
            ProposerCause: $("#case").val(),
            ProposerTime: $("#ptime").text(),
            StateTime: $("#Starttime").val(),
            EndTime: $("#Endtime").val(),
            ProposerState: 2,
            Ntime=$("#Hidden3").val(),
        };
        layui.use('layer', function () {
            layer.confirm("确认驳回？", {
                btn: ['确定', '取消']
                , yes: function (index, layero) {
                    $.ajax({
                        url: "/Work/UptProposer",
                        data: { proposerView: o },
                        type: "post",
                        success: function (data) {
                            layer.alert(data);


                        }
                    })
                }, btn2: function (index) { }
            })

        })
    }
</script>

