@model Restaurant_Information_MVC.Models.UserInfo
    @using Restaurant_Information_MVC.Controllers
@{
    ViewBag.Title = "Uptuser";
}
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>

<div>

    <input id="Hidden1" type="hidden" value="@Model.UserID" />
    <input id="Username" type="hidden" value="@Model.UserName" />
    <input id="Userphone" type="hidden" value="@Model.UserPhone" />
    <input id="Usersex" type="hidden" value="@Model.UserSex" />
    <input id="Userrole" type="hidden" value="@Model.Role" />
    <input id="Privilege" type="hidden" value="@Model.Privilege" />
    <input id="Userpwd" type="hidden" value="@Model.UserPwd" />
    <input id="yan" type="hidden"  />
   
    <form class="layui-form" style="width:700px;">
        <div class="layui-form-item" style="float:left;">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-block">
                <input id="Text1" type="password" onchange="Txt()" name="title" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input" style="width:300px;float:left">
            <label id="lab1" style="color:red;float:left"></label>
             </div>
        </div>
      
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input id="Gaipwd" type="password" name="title" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input" style="width:300px;">

                </div>


            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input id="Quepwd" type="password" name="title" required lay-verify="required" placeholder="请确认密码" autocomplete="off" class="layui-input" style="width:300px;float:left" onchange="que()">
                    <label id="lab" style="color:red;float:left"></label>
                </div>
               
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input id="Phone" onchange="Iphone()" type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width:300px;float:left">
                    <label id="phoneremark" style="color:red;float:left"></label>
                </div>



            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <input id="btnyan" class="layui-btn layui-btn-normal" type="button" name="yzm" value="获取验证码" style="float:left"/>
                   
                </div>

               
            </div>
            <div class="layui-form-item" style="width:100%;height:50px;">
                <label class="layui-form-label">验证码</label>
                <div class="layui-input-block">
                    <input id="Yan1" type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width:300px;float:left">
                    <label id="yanzheng" style="color:red;float:left"></label>
                </div>
              
                
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input id="Button1" class="layui-btn layui-btn-radius" type="button" value="修改" onclick="Upt(@Model.UserID)" />
                    <input id="Button1" class="layui-btn layui-btn-radius" type="button" value="取消" onclick="Fan()" />

                </div>

            </div>
            <div>
                <label id="tishi" style="color:red"></label>
            </div>

</form>
</div>
<script>
    //layui.use('form', function () {
    //    var form = layui.form;
    //})
    function Txt() {
        if ($("#Text1").val() != $("#Userpwd").val()) {
            $("#lab1").text("输入的密码错误");
            return;
        }
        else {
            $("#lab1").hide();
        }
    }

    function que() {
        if ($("#Gaipwd").val() != $("#Quepwd").val()) {
            $("#lab").text("两次密码不一样");
            return;
        }
        else {
            $("#lab").hide();
        }
    }



    function Iphone() {
        //alert($("#Phone").val());
        //alert($("#Userphone").val());
        if ($("#Phone").val() != $("#Userphone").val()) {
            $("#phoneremark").text("输入的邮箱错误")
            return;
        }
        else {
            $("#phoneremark").text("");
        }
    }

    function Upt(id) {
        console.log($("#Phone").val());
        console.log($("#Yan1").val());
        if ($("#Text1").val() == "" || $("#Phone").val() == "" || $("#Yan1").val() == "") {
            $("#tishi").text("上述信息不完整");

            return;

        }

        else {
            $("#tishi").hide();
        }
        if ($("#Text1").val() != $("#Userpwd").val()) {
            $("#lab1").text("输入的密码错误");
            return;
        }
        else {
            $("#lab1").hide();
        }
        if ($("#Gaipwd").val() != $("#Quepwd").val()) {
            $("#lab").text("两次密码不一样");
            return;
        }
        else {
            $("#lab").hide();
        }
        //if ($("#Phone").val() != $("#Userphone").val()) {
        //    $("#phoneremark").text("输入的手机号与预存的手机号不一致")
        //    return;
        //}
        //else {
        //    $("#phoneremark").hide();
        //}
       
        if ($("#Yan1").val().toString() != $("#yan").val().toString()) {
            $("#yanzheng").text("验证码错误");
            return;
        }
        else {
            $("#yanzheng").hide();
        }

        var o = {
            UserId: id,
            UserName: $("#Username").val(),
            UserPhone: $("#Phone").val().trim(),
            UserSex: $("#Usersex").val(),
            UserPwd: $("#Gaipwd").val().trim(),
            Role: $("#Userrole").val(),
            Privilege: $("#Privilege").val()
        }
        layui.use('layer', function () {
            layer.confirm("确认修改？", {
                btn: ['确定', '取消']
                , yes: function (index, layero) {
                    $.ajax({
                        url: "/Work/Uptuser",
                        data: { userInfo: o },
                        type: "post",
                        success: function (data) {
                            layer.alert("修改成功");
                            location.href = "/Login/Index";

                        }
                    })
                }, btn2: function (index) { }
            })

        })

    }
    function Fan() {
        //$("#Text1").val().empty;
        //$("#Gaipwd").val().empty();
        //$("#Quepwd").val().empty();
        //$("#Phone").val().empty();
        //$("#Yan").val().empty();
        location.reload();
    }
    var ordertime = 60   //设置再次发送验证码等待时间
    var timeleft = ordertime
    var btn = $(".yzm")
    var phone = $(".phone")
    var reg = /^1[0-9]{10}$/;  //电话号码的正则匹配式

    //phone.keyup(function () {
    //    if (reg.test(phone.val())) {
    //        $("#btnyan").removeAttr("disabled")  //当号码符合规则后发送验证码按钮可点击
    //    }
    //    else {
    //        $("#btnyan").attr("disabled", true)
    //    }
    //})

    //计时函数
    function timeCount() {
        timeleft -= 1
        if (timeleft > 0) {
            $("#btnyan").val(timeleft + " 秒后重发");
            setTimeout(timeCount, 1000)
            $("#btnyan").attr("disabled", true);
        }
        else {
            $("#btnyan").val("重新发送");
            timeleft = ordertime   //重置等待时间
            $("#btnyan").removeAttr("disabled", true);
        }
    }
    //事件处理函数
    $("#btnyan").click(function () {
        if ($("#Phone").val() != $("#Userphone").val()) {
            $("#phoneremark").text("输入的邮箱错误")
            return;
        }
        
        var dianhua = $("#Phone").val();

        layui.use('layer', function () {
            $.ajax({
                url: "/Work/SendEmail/?email=" + dianhua,
                type: "get",
                success: function (data) {
                    
                    if (data != null) {
                        $(this).attr("disabled", true); //防止多次点击
                        $("#yan").val(data);
                        //此处可添加 ajax请求 向后台发送 获取验证码请求
                        timeCount(this);
                       
                    }
                    else {

                    }
                  
                }

            })
        })
    })
      









</script>



